@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 86px;
}

.container_one {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 85px 0 86px;
    
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.show {
    display: none;
}

.filter {
    display: none;
}

.search {
    display: none;
}

.show_768 {
    display: none;
}

.show_320 {
    display: none;
}

.menu {
    display: none;
}
header {
    background: #265C9A;
    padding-top: 21px;
    padding-bottom: 16px;
    z-index: 20;
}

.header_menu {
    display: none;
    z-index: 20;

}

.header_inner {
    display: flex;
    z-index: 20;

}

.header_logo_text {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    z-index: 20;

}

.header_phone_text {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
    z-index: 20;

}

.header_info_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    z-index: 20;

    color: #FFFFFF;
}



.header_serach_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: transparent;
    border: 0px;
    outline: none;
    border-bottom: 2px solid #517DAE;
    padding-left: 21px;
    width: 282px;
    z-index: 20;

}

.header_serach_text::-webkit-search-decoration,
.header_serach_text::-webkit-search-cancel-button,
.header_serach_text::-webkit-search-results-button,
.header_serach_text::-webkit-search-results-decoration { display: none; }

.header_serach_text::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.header_logo {
    padding-right: 86px;
    z-index: 20;

}

.header_phone {
    margin-right: 86px;
    padding-top: 6px;
    max-width: 134px;
    width: 100%;
    z-index: 20;


}

.header_search {
    position: relative;
    padding-top: 7px;
    z-index: 20;

}

.header_search_img {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 1px;
    fill: #fff;
    z-index: 20;

}

.header_info {
    padding-top: 7px;
    height: 26px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    z-index: 20;
    margin-left: auto;

}

.header_info:hover {
    border-bottom: 2px solid #FBFF3D;

}

.header_info:hover>.header_info_text {
    color: #FBFF3D;
}

.nav {
    padding-top: 13px;
    padding-bottom: 12px;
    background: #1F497B;
}

nav {
    display: grid;
    grid-template-columns: 181px 86px 111px 79px 97px;
    grid-column-gap: 38px;
}

nav>a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

nav>a:hover {
    color: #FBFF3D;
}




.nav_cours_img {
    width: 17px;
    height: 16px;
    margin-right: 9px;
    margin-top: 2px;
    fill: white;
}



.nav_inner {
    display: flex;
}

.nav_cours {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.nav_cours_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.nav_cours:hover>.nav_cours_img  {
    fill: #FBFF3D;
}

.nav_cours:hover>.nav_cours_text  {
    color: #FBFF3D;
}

.catalog {
    padding-top: 25px;
    padding-bottom: 39px;
}

.catalog_header {
    display: flex;
}

.catalog_header_one {
    margin-right: 14px;
}

.catalog_header_one>ul {
    list-style: none;
    border: 1px solid #D0D0D0;
    border-bottom: 1px;
    position: relative;
    width: 264px;
}

.catalog_header_one>ul>li>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-bottom: 1px solid #D0D0D0;
    position: relative;
    cursor:pointer;
}

.catalog_header_two_active_before:before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #D0D0D0;
    width: 87.5%;
    bottom: -2px;
    z-index: 999999999;

}



.catalog_header_one>ul>li>p:after {
    content: url(https://pavel48322.github.io/test-1/img/list.svg);
    padding-left: 10px;
    position: absolute;
    right: 16px;
    top: 11px;
}

.catalog_header_one>ul>li>ul>li>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    cursor: pointer;
}

.catalog_header_one>ul>li>ul>li>p:hover {
    background: #E8EEFF;
}

.catalog_header_one>ul>li>ul {
    list-style: none;
    position: absolute;
    z-index: 9999;
    border: 1px solid #D0D0D0;
    border-top: none;
    background: #fff;
    left: -1px;
    top: 46px;
    width: 264px;
    padding-top: 9px;
    padding-bottom: 11px;
}

.catalog_header_two{
    margin-right: 27px;
}

.catalog_header_two>ul {
    list-style: none;
    border: 1px solid #D0D0D0;
    border-bottom: 1px;
    position: relative;
    width: 264px;
}

.catalog_header_two>ul>li>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-bottom: 1px solid #D0D0D0;
    position: relative;
    cursor: pointer;
}

.catalog_header_two>ul>li>p:after {
    content: url(https://pavel48322.github.io/test-1/img/list.svg);
    padding-left: 10px;
    position: absolute;
    right: 16px;
    top: 11px;
}

.catalog_header_two>ul>li>ul>li>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    cursor: pointer;
}

.catalog_header_two>ul>li>ul>li>p:hover {
    background: #E8EEFF;
}

.catalog_header_two>ul>li>ul {
    list-style: none;
    position: absolute;
    z-index: 9999;
    border: 1px solid #D0D0D0;
    border-top: none;
    background: #fff;
    left: -1px;
    top: 46px;
    width: 264px;
    padding-top: 11px;
    padding-bottom: 11px;
    
}

.catalog_header_active {
    display: none;
}

.catalog_header_active_show {
    display: block;
}

.catalog_header_three {
    display: flex;
}

.catalog_header_three>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
    padding-top: 14px;
}

.catalog_header_three_one {
    padding-right: 14px;
}

.catalog_header_three_two {
    padding-left: 9px;
}

.catalog_header_three>ul {
    list-style: none;
}

.catalog_header_three>ul:nth-child(2)>li>input {
    list-style: none;
    border: 1px solid #D0D0D0;
    display: inline-table;
    border-collapse: collapse;
    height: 48px;
    width: 132px;
    outline: none;
} 

.catalog_header_three>ul:nth-child(3)>li>input {
    list-style: none;
    border: 1px solid #D0D0D0;
    display: inline-table;
    border-collapse: collapse;
    height: 48px;
    width: 133px;
    outline: none;

} 

.catalog_header_three>ul>li>input {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #484848;  
    text-align: end;
    padding-right: 10px;
} 

.catalog_header_three>ul>li>input::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #484848;  
} 

.catalog_header_three>ul>li {
    position: relative;
}


.catalog_header_three>ul>li>p {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #484848;
    top: 14px;
    left: 12px;
}

.catalog_header {
    padding-bottom: 22px;
}

.catalog_wrapper_item_one_wrapper_content_price_img {
    width: 17px;
    height: 16px;
    fill: #FF3D3D;
}

.catalog_wrapper_item_one_wrapper_content_price_img:hover {
    fill: #C50000;
}
.catalog_wrapper_item_one_wrapper {
    display: flex;
}

.catalog_wrapper_item_one  {
    cursor: pointer;
    border-right: 2px solid #DEDEDE;
    border-bottom: 2px solid #DEDEDE;
    padding-bottom: 15px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    
}

.catalog_wrapper_item_one:hover {
    background: rgba(255, 241, 241, 1);
    border: 2px solid #FF3D3D;
    margin-top: -2px;
    margin-left: -2px;
}

.catalog_wrapper_item_one_wrapper_logo {
    width: 250px;
    height: 250px;
}

.catalog_wrapper {
    margin-left: -1px;
    border-left: 2px solid #DEDEDE;
    border-top: 2px solid #DEDEDE;
    display: grid;

    grid-template-columns: repeat(4, 1fr);

}

.catalog_wrapper_item_one_wrapper_img {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 24px;
}

.catalog_wrapper_item_one_wrapper_content {
    padding-top: 26px;
}

.catalog_wrapper_item_one_wrapper_content>h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 4px;
}

.catalog_wrapper_item_one_wrapper_content_text {
    max-width: 252px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #989898;
    padding-bottom: 20px;
}

.catalog_wrapper_item_one_wrapper_content_sale {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #989898;
    padding-bottom: 2px;
}

.catalog_wrapper_item_one_wrapper_content>div {
    border-top: 2px solid #FFBCBC;
    margin-right: 3px;
    padding-top: 4px;
    display: flex;
}

.catalog_wrapper_item_one_wrapper_content_price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FF3D3D;
}

.catalog_wrapper_item_one_wrapper_content_price_img {
    margin-left: auto;
    margin-top: 5px;
}

.catalog_wrapper_item {
    border-right: 2px solid #DEDEDE;
    border-bottom: 2px solid #DEDEDE;
    padding-bottom: 13px;
}

.catalog_wrapper_item:hover {
    background: #E8EEFF;
    border: 2px solid #819DEB;
    margin-left: -2px;
    margin-top: -2px;


}

.catalog_wrapper_item_img {
    padding-top: 20px;
    text-align: center;
}

.catalog_wrapper_item_logo {
    width: 160px;
    height: 160px;
}

.catalog_wrapper_item_content {
    padding-left: 22px;
    padding-top: 6px;
}

.catalog_wrapper_item_content>h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    padding-bottom: 6px;
}

.catalog_wrapper_item_content_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #979797;
    max-width: 237px;
    padding-bottom: 20px;
    min-height: 92px;
    height: 100%;
}

.catalog_wrapper_item_content>div {
    border-top: 2px solid #8EACFC;
    display: flex;
    margin-left: -2px;
    margin-right: 23px;
    padding-top: 4px;
}

.catalog_wrapper_item_content_price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #325AC0;
}

.catalog_wrapper_item_content_price_img {
    width: 17px;
    height: 16px;
    fill: #325AC0;
    margin-left: auto;
    margin-right: -2px;
    margin-top: 5px;
}

@media (min-width: 1061px) and (max-width: 1300px) {
    .header_search {
        padding-right: calc(54px + (293 - 54) * ( (100vw - 1061px) / ( 1300 - 1061) ));    
    }
}

@media (min-width: 1061px) and (max-width: 1299px) {

    .catalog_header_one>ul {
        width: calc(220px + (264 - 220) * ( (100vw - 1061px) / ( 1299 - 1061) ));    
    }

    .catalog_header_two>ul {
        width: calc(220px + (264 - 220) * ( (100vw - 1061px) / ( 1299 - 1061) ));    
    }
}

@media (max-width:1060px) {

    .container {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 20px;
    }

    .container_one {
       padding-left: 20px;
       padding-right: 19px;
    }

    .menu {
        display: block;
        position: absolute;
        background: #265C9A;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 14px;
        /* display: none; */
        transition: .4s;
        z-index: 10;
    }

    .filter {
        display: block;
        position: fixed;
        background: rgb(0, 0, 0, 0.4);
        z-index: 999;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        display: none;
    }

    .filter_active {
        display: block;
    }

    .filter_inner {
        position: absolute;
        background: #fff;
        width: 280px;
        height: 356px;
        left: 50%;
        margin-left: -140px;
        top: 146px;
        padding-top: 21px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 19px;
    }

    .catalog_header_three_one {
        display: none;
    }

    .catalog_header_three_two {
        display: none;
    }

    .catalog_header_three {
        flex-direction: column;
    }

    .close_filter {
        cursor: pointer;
        width: 19px;
        height: 19px;
        position: absolute;
        top: -27px;
        right: 0px;
        fill: #fff;
    }

    .close_filter:hover {
        fill: #B4B4B4;
    }

    .catalog_header_one {
        margin-bottom: 19px;
        margin-right: 0px;
    }

    .catalog_header_one>ul {
        width: 244px;
    }

    .catalog_header_two {
        margin-bottom: 19px;
        margin-right: 0px;
    }

    .catalog_header_two>ul {
        width: 244px;
    }

    .catalog_header_three>ul {
        width: 244px;
        margin-bottom: 19px;
    }

    .catalog_header_three>ul>li>input{
        width: 244px !important;
        padding-right: 9px;
        padding-bottom: 2px;
    }

    .catalog_header_one>ul>li>p {
        padding-left: 9px;
        padding-top: 12px;
        padding-bottom: 13px;
    }

    .catalog_header_one>ul>li>p:after {
        right: 9px;
        top: 10px;
    }

    .catalog_header_two>ul>li>p {
        padding-left: 9px;
        padding-top: 12px;
        padding-bottom: 13px;
    }

    .catalog_header_two>ul>li>p:after {
        right: 9px;
        top: 10px;
    }

    .catalog_header_three>ul>li>p {
        top: 13px;
        left: 10px;
    }

    .filter_btn {
        width: 244px;
        border: none;
        outline: none;
        height: 48px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        background: #FF3D3D;
        border-radius: 1px;
        cursor: pointer;
    }

    .filter_btn:hover {
        background: #CE2929;
    }

    .catalog_header_one>ul>li>ul {
        width: 244px;
        padding-top: 0px;
        margin-top: -6px;
        padding-bottom: 9px;
    }

    .catalog_header_two>ul>li>ul {
        width: 244px;
        padding-top: 0px;
        margin-top: -6px;
        padding-bottom: 9px;
    }
    
    .catalog_header_one>ul>li>ul>li>p {
        padding-left: 9px;
    }

    .catalog_header_two>ul>li>ul>li>p {
        padding-left: 9px;
    }

   

    .menu p {
        
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        padding-top: 9px;
        padding-bottom: 10px;
        padding-left: 16px;
        cursor: pointer;
        z-index: 10;

    }

    .menu p:hover {
        background: #618CBF;
        border-radius: 1px;
    }

    .header_phone {
        display: none;
    }

    .header_info_text {
        display: none;
    }

    .nav_cours {
        display: none;
    }

    .nav {
        display: none;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .catalog_wrapper_item_one  {
        cursor: pointer;
        border-right: 2px solid #DEDEDE;
        border-bottom: 2px solid #DEDEDE;
        padding-bottom: 15px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        
    }
    
    .catalog_wrapper_item_one:hover {
        background: rgba(255, 241, 241, 1);
        border: 2px solid #FF3D3D;
        margin-top: -2px;
        margin-left: -2px;
    }
    
    .catalog_wrapper_item_one_wrapper_logo {
        width: 250px;
        height: 250px;
    }
    
    .catalog_wrapper {
        display: grid;
    
        grid-template-columns: repeat(3, 1fr);
    
    }

    .header_menu {
        display: initial;
        margin-right: 41px;
        margin-top: 6px;
    }

    .header_menu_burger {
        cursor: pointer;
        width: 24px;
        fill: #fff;
        height: 24px;
    }

    .header_menu_burger:hover {
        fill: #FBFF3D;
    }
    
    header {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .header_logo {
        padding-right: 41px;
    }

    .header_serach_text {
        width: 697px;
    }

    .header_search {
        padding-right: 41px;
    }

    .header_info {
        padding-top: 8px;
        height: initial;
        border-bottom: initial;
    }

    .header_info:hover {
        border-bottom: initial;
    }

    .header_info_img {
        width: 21px;
        height: 20px;
        fill: #fff;
    }

    .header_info:hover .header_info_img {
        fill: #FBFF3D;
    }

    .catalog_header {
        display: none;
    }

    .catalog_info_phone_img {
        cursor: pointer;
        width: 22px;
        height: 22px;
        margin-left: auto;
        margin-top: 1px;
        margin-right: 1px;
    }

    .catalog_info_phone {
        display: flex;
        padding-bottom: 11px;
    }

    .catalog_info_phone>p {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #333333;
    }
    
    .catalog {
        padding-top: 12px;
        padding-bottom: 38px;
    }

    .catalog_wrapper_item_one_wrapper_logo {
        max-width: 297px;
        max-height: 297px;
        width: 100%;
        height: 100%;
        
    }

    .catalog_wrapper_item_one_wrapper_img {
        padding-left: 16px;
        padding-top: 30px;
        padding-right: 25px;
    }

    .catalog_wrapper_item_one_wrapper_content {
        padding-top: 30px;
        margin-right: 16px;
    }

    .catalog_wrapper_item_one_wrapper_content_text {
        max-width: 300px;
        padding-bottom: 32px;
    }

    .catalog_wrapper_item_one_wrapper_content>h4 {
        padding-bottom: 0px;
    }

    .catalog_wrapper_item_one_wrapper_content_sale {
        padding-bottom: 7px;
    }

    .catalog_wrapper_item_one_wrapper_content>div {
        padding-top: 7px;
        margin-right: 0px;
    }

    .catalog_wrapper_item_one {
        padding-bottom: 18px;
    }

    .catalog_wrapper_item_logo {
        max-width: 164px;
        max-height: 164px;
        width: 100%;
        height: 100%;
    }

    .catalog_wrapper_item_img {
        padding-top: 15px;
    }

    .catalog_wrapper_item_content>h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 4px;
    }

    .catalog_wrapper_item_content {
        padding-left: 15px;
        padding-top: 8px;
    }

    .catalog_wrapper_item_content_text {
        max-width: 296px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        min-height: 83px;
    }

    .catalog_wrapper_item_content>div {
        margin-left: 0px;
        margin-right: 15px;
        padding-top: 7px;
    }
    
    .catalog_wrapper_item_content_price_img {
        margin-right: 0px;
    }

    .catalog_wrapper_item {
        padding-bottom: 18px;
    }

    .catalog_wrapper_item:nth-child(2) .catalog_wrapper_item_img {
        padding-top: 16px;
    }

}

@media (min-width: 769px) and (max-width: 1023px) {

    .header_serach_text {
        width: calc(452px + (697 - 452) * ( (100vw - 769px) / ( 1023 - 769) ));    
    }


}

@media (max-width: 768px) {
    .header_serach_text {
        width: 452px;
    }
    
    .show_768 {
        display: block;
    }

    .hidden_768 {
        display: none;
    }

    .header_menu {
        margin-right: 37px;
    }

    .header_logo {
        padding-right: 37px;
    }

    .header_search {
        padding-top: 6px;
        padding-right: 38px;
    }

    .header_search_img {
        top: 9px;
    }

    .header_info {
        padding-top: 6px;
    }

    .catalog {
        padding-top: 16px;
    }

    .catalog_info_phone_img {
        margin-top: -1px;
    }

    .catalog_info_phone {
        padding-bottom: 9px;
    }

    .catalog_wrapper_item_one  {
        cursor: pointer;
        border-right: 2px solid #DEDEDE;
        border-bottom: 2px solid #DEDEDE;
        padding-bottom: 15px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        
    }
    
    .catalog_wrapper {
        display: grid;
    
        grid-template-columns: repeat(2, 1fr);
    
    }

    .hidden_768 {
        display: none;
    }

    .catalog_wrapper_item_one_wrapper_logo {
        max-width: 318px;
        max-height: 318px;
    }

    .catalog_wrapper_item_one_wrapper_img {
        padding-left: 20px;
        padding-top: 24px;
        padding-right: 39px;
    }
    
    .catalog_wrapper_item_one_wrapper_content {
        padding-top: 26px;
    }

    .catalog_wrapper_item_one_wrapper_content_text {
        max-width: 326px;
    }

    .catalog_wrapper_item_one_wrapper_content_text {
        padding-bottom: 64px;
    }

    .catalog_wrapper_item_logo {
        max-width: 175px;
        max-height: 175px;
    }

    .catalog_wrapper_item_img {
        padding-right: 1px;
        padding-top: 16px;
    }

    .catalog_wrapper_item_content {
        padding-left: 23px;
        padding-top: 11px;
    }

    .catalog_wrapper_item_content>h4 {
        padding-bottom: 2px;
    }

    .catalog_wrapper_item_content_text {
        min-height: 77px;
        padding-bottom: 14px;
    }

    .catalog_wrapper_item_content>div {
        margin-right: 23px;
    }

    .catalog_wrapper_item_content_price_img {
        margin-top: 6px;
    }

    .catalog_wrapper_item {
        padding-bottom: 16px;
    }
}

@media (min-width: 501px) and (max-width: 767px) {

    .header_serach_text {
        width: calc(180px + (452 - 180) * ( (100vw - 501px) / ( 767 - 501) ));    
    }


}

@media (max-width:500px) {
    .header_serach_text {
        display: none;
    }

    .header_search_img {
        cursor: pointer;
    }

    .header_search_img:hover {
        
        fill: #FBFF3D;
    }

    .container_one {
        padding-right: 20px;
    }

    .hidden_320 {
        display: none;
    }

    .show_320 {
        display: block;
    }

    header {
        padding-top: 21px;
        padding-bottom: 15px;
        position: relative;
    }

    .header_menu {
        margin-right: 22px;
    }

    .header_search {
        padding-right: 35px;
        margin-left: auto;
    }

    .header_search_img {
        width: 16.2px;
        height: 16.2px;
        top: 10px;
    }

    .header_info_img {
        width: 19px;
        height: 18px;
    }

    .header_info {
        padding-top: 9px;
    }

    .catalog {
        padding-top: 13px;
        padding-bottom: 39px;
    }
    
    .catalog_info_phone_img {
        margin-top: 0px;
        margin-right: 0px;
    }

    .catalog_wrapper {
        border-left: 1px solid #DEDEDE;
        border-top: 1px solid #DEDEDE;
        margin-left: 0px;
    }
    
    .catalog_info_phone {
        padding-bottom: 24px;
    }
    
    .catalog_wrapper_item_one  {
        border-right: 1px solid #DEDEDE;
        border-bottom: 1px solid #DEDEDE;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .catalog_wrapper {    
        grid-template-columns: repeat(1, 1fr);
    }

    .catalog_wrapper_item_one_wrapper {
        flex-direction: column;
    }
    
    .catalog_wrapper_item_one_wrapper_logo {
        max-width: 244px;
        max-height: 244px;
    }

    .catalog_wrapper_item_one_wrapper_img {
        padding-left: initial;
        text-align: center;
        padding-top: 17px;
        padding-right: 1px;
    }

    .catalog_wrapper_item_one_wrapper_content {
        padding-top: 16px;
        padding-left: 17px;
        margin-right: 17px;
    }

    .catalog_wrapper_item_one_wrapper_content_text {
        padding-top: 5px;
        padding-bottom: 31px;
    }

    .catalog_wrapper_item_one_wrapper_content_sale {
        padding-bottom: 4px;
    }

    .catalog_wrapper_item_one:hover {
        border: 1px solid #FF3D3D;
        margin-top: -1px;
        margin-left: -1px;
    }

    .catalog_wrapper_item_logo {
        max-width: 169px;
        max-height: 169px;
    }
    
    .catalog_wrapper_item:nth-child(2) .catalog_wrapper_item_img {
        padding-top: 22px;
        padding-left: 2px;
    }

    .catalog_wrapper_item_img {
        padding-top: 22px;
        padding-left: 2px;
    }

    .catalog_wrapper_item_content {
        padding-left: 17px;
        padding-top: 4px;
    }

    .catalog_wrapper_item_content_text {
        padding-top: 3px;
    }

    .catalog_wrapper_item_content>div {
        margin-right: 16px;
    }

    .catalog_wrapper_item_content_price_img {
        margin-top: 5px;
        margin-right: 1px;
    }

    .catalog_wrapper_item_content_text {
        min-height: initial;
    }

    .catalog_wrapper_item {
        border-right: 1px solid #DEDEDE;
        border-bottom: 1px solid #DEDEDE;
    }

    .catalog_wrapper_item:hover {
        border: 1px solid #819DEB;
        margin-left: -1px;
        margin-top: -1px;
    }

    .menu p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding-left: 7px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .menu {
        padding-top: 2px;
    }

    .search {
        display: block;
        position: absolute;
        top: 72px;
        left: 0;
        background: #1F497B;
        width: 100%;
        /* height: 44px; */
        height: 0px;
        transition: 0.2s;
    }

    .search>.container {
        height: 0px;
    }

    .search input {
        width: 100%;
        /* height: 42px; */
        border: none;
        height: 0px;
        background: transparent;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        outline: none;
        transition: 0.2s;
    }

    .search input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
}